#define START 1000
#define IDC_STC1 1001
#define IDC_STC2 1002
#define LOADMAP 1003
#define TWOBYTE 1004
#define RGB 1005
#define ARGB 1006
#define RAWW 1007
#define RAWH 1008
#define PREV 1010
#define PREM 1011
#define RAWFLIP 1009
#define ZEROY 1012
#define ZEROX 1013
#ifndef IDOK
  #define IDOK 1
#endif
#ifndef IDCANCEL
  #define IDCANCEL 2
#endif

#include <windows.h>
#include "WatcomHack.h"

SLITSCAN DIALOGEX -51,242184,471,63
CAPTION "SlitScan Config"
FONT 8,"Helv",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME
BEGIN
  CONTROL "VERBOTEN!",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,219,3,45,9
  CONTROL "Due to extreme memory-hungry nature of this plug-in, simultaneous running of multiple plug-ins on the same system is neither supported nor allowed.",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE,6,12,462,9
  CONTROL "Frame Preview",PREV,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,72,45,60,15
  CONTROL "Time Map Preview",PREM,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,3,45,66,15
  CONTROL "16-bit Pixels (actual values up to 4095)          RAW WxH:",TWOBYTE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,147,24,192,9
  CONTROL "Also contains RGB Preview                 Zero Time position:",RGB,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,147,36,192,9
  CONTROL "Slit Map vs Preview has ARGB, not RGBA order.",ARGB,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,147,48,165,9
  CONTROL "640",RAWW,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,339,21,24,12,WS_EX_CLIENTEDGE
  CONTROL "480",RAWH,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,366,21,24,12,WS_EX_CLIENTEDGE
  CONTROL "0",ZEROX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,339,36,24,12,WS_EX_CLIENTEDGE
  CONTROL "0",ZEROY,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,366,36,24,12,WS_EX_CLIENTEDGE
  CONTROL "Load Time Map",LOADMAP,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,402,21,60,15
  CONTROL "Vertical Flip",RAWFLIP,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,321,51,57,9
  CONTROL "Set Zero Time frame 0 now",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_MULTILINE,402,36,60,24
  CONTROL "exit",IDCANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,450,0,21,12
END

